.nav {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 1rem 2rem 0 2rem;
}

.endUl {
    display: flex;
    justify-content: end;
}

.middleUl {
    display: flex;

}

.startUl {
    display: flex;
}