.endUl_cartNumber {
    font-size: 2rem;
    color: aliceblue;
}

.cartWidgetContainer__img {
    height: 2rem;
    filter: brightness(10);
}

.endUl {
    display: flex;
    justify-content: end;
    align-items: center;
    top: 20rem;
}