.gridDisplay {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
}

.detailProductContainer{
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
    height: 25rem;
    width: 20rem;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.859);
    border-radius: 1rem;
    border: 1px solid white; /* Esto crea un borde blanco de 1 píxel */
}

.detailProductContainer--right {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 1fr;
    padding: 1rem 1rem 1rem 1rem;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;

}

.name {
    font-size: 2rem;
}

.price {
    font-size: 2rem;
}

.stock {
    font-size: 1.2rem;
}

.internalDetailProductContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}


.addCartButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.plusButton {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.minusButton {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addButton{
    width: 4rem;
    height: 3rem;
    background-color: rgba(25, 52, 36, 0.633);
    border: 1px solid white; /* Esto crea un borde blanco de 1 píxel */
    color: aliceblue;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.imgContainer {
    width: 4rem;
    height: 4rem;
}

.img {
    width: 4rem;
}

.productNull {
    color: aliceblue;
    font-size: 3rem;
    justify-self: center;
    align-self: center;
}

.quantity {
    background-color: rgba(25, 52, 36, 0.633);
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.minusButton:active {
    transform: scale(1.15);
    background-color: blueviolet;
}

.plusButton:active {
    transform: scale(1.15);
    background-color: blueviolet;
}

.addButton:active {
    transform: scale(1.1);
    filter: brightness(1.5);
}
