
.detailProductContainer{
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
    height: 30rem;
    width: 80rem;
    color: aliceblue;
}

.internalDetailProductContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 1.5rem;
}


.addCartButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.plusButton {
    width: 2rem;
    height: 2rem;
}

.minusButton {
    width: 2rem;
    height: 2rem;
}

.addButton{
    width: 4rem;
    height: 3rem;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.img {
    width: 8rem;
}

.productNull {
    color: aliceblue;
    font-size: 3rem;
    justify-self: center;
    align-self: center;
}

