*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
  }

  .main {
    display: grid;
    grid-template-rows: 0.01fr 0.01fr 1fr;
    
  }
  
.buttons {
    font-family: navBarTitles;
    font-size: 1rem;
}

.buttonsContainer {
    margin-left: 2rem;
    display: flex;
    gap: 2rem;
    justify-self: center;
   align-items: center;

}

.brands {
  display: flex;
  gap: 15rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: aliceblue;
  font-size: 2rem;
  background-color: rgba(25, 52, 36, 0.633);
  width: 90%;
  height: 3rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid white; /* Esto crea un borde blanco de 1 píxel */
  transition: filter 0.5s ease;
}

.brands--blur { /* distorsion + interaccion mouse = 0 cuando esta abierto el checkout */
  display: flex;
  gap: 15rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: aliceblue;
  font-size: 2rem;
  background-color: rgba(25, 52, 36, 0.633);
  width: 90%;
  height: 3rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid white; /* Esto crea un borde blanco de 1 píxel */

  pointer-events: none;
  filter: blur(5px);
  transition: filter 0.5s ease;
}
  




